<!DOCTYPE html>
<html>
  <head>
    <title>Flowdoc</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/design-system/2.11.6/styles/salesforce-lightning-design-system.min.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="scripts/script.js"></script>
  </head>
<body>
  <div class="slds-spinner_container">
    <div role="status" class="slds-spinner slds-spinner_large slds-spinner_brand">
      <span class="slds-assistive-text">Loading</span>
      <div class="slds-spinner__dot-a"></div>
      <div class="slds-spinner__dot-b"></div>
    </div>
  </div>
  <div class="slds-page-header slds-m-around_medium">
    <div class="slds-page-header__row">
      <div class="slds-page-header__col-title">
        <div class="slds-media">
          <div class="slds-media__figure">
            <span class="slds-icon_container slds-icon-standard-flow" title="flow">
              <svg class="slds-icon slds-page-header__icon" aria-hidden="true">
                <use xlink:href="standard-symbols.svg#flow"></use>
              </svg>
              <span class="slds-assistive-text">flow</span>
            </span>
          </div>
          <div class="slds-media__body">
            <div class="slds-page-header__name">
              <div class="slds-page-header__name-title">
                <h1>
                  <span class="slds-page-header__title slds-truncate" title="Flowdoc">Flowdoc</span>
                </h1>
              </div>
            </div>
            <p class="slds-page-header__name-meta" id="loading_message">Loading...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
