<!DOCTYPE html>
<html class="home">
  <head>
    <title>Flowdoc</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/design-system/2.11.6/styles/salesforce-lightning-design-system.min.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css" />
  </head>

  <body>
    <section class="container">
      <header>
        <h1 class="slds-text-heading_large">Flowdoc (in development)</h1>
      </header>
      <main>
        <div class="media"><img src="flowdoc.png"/></div>
        <div class="buttons">
          <a href="./auth/production">
            <span class="slds-button slds-button_brand">Log in to Production / DE</span>
          </a>
          <a href="./auth/sandbox">
            <span class="slds-button slds-button_neutral">Log in to Sandbox</span>
          </a>
        </div>
      </main>
      <footer>
        <div class="slds-text-color_weak">Created by @shunkosa</div>
      </footer>
  </section>
  </body>
</html>
